header{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSmhuXu8noqTO1nGiOLutJh67mU_McL5L2yhw&usqp=CAU);
}


.fgh{
    text-align: center;
}

.abc{
    width: 100px;
    height: 100px;
    text-align: center;
    border-radius: 10px;
     border: 3px solid lightgray;
}
    


.gh{
    color:lightgray;
    text-align: center;
    font-size: 80px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-bottom: 3px dashed lightgray;
}

nav{
   margin:20px;
   padding: 10px;
   border:2px solid white;
   border-radius: 10px;
   text-align:center;
    

}

nav a{
    margin:60px;
    font-size: 20px;
    text-decoration: none;
    color:lightgray;
    
}

header img{
    padding: 20px;
}

body{
    background-image: url(https://png.pngtree.com/thumb_back/fw800/background/20230526/pngtree-abstract-wave-wavy-background-black-wavy-wallpaper-texture-image_2648677.jpg);
    font-family: sans-serif;
}

.ads{
    color:lightslategrey;
    padding: 10px;
    font-size: 20px;
    border:1px solid lightslategray;
    text-decoration: none;
    text-align: left;
    margin:80px;
}

.asdf{
    border-radius: 10px;
    border:1px solid navy;
    padding: 10px;
    margin: 10px;
}

.fghj{
    text-align: center;
    color:lightgray;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
}

.cvb{
    font-size: 20px;
    color:lightslategrey;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;


}

.adfgh{
    font-size: 20px;
    color:white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.rtx{
    font-size: 20px;
    color:lightgray;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

footer{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR1z53KqGmu3R7s4qQ07bH1VAGm2WzNH-76Hg&usqp=CAU);
}

.iop{
    color:lightgray;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.lpo{
    color:lightgray;    
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.hjk{
    color:white;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.vbn{
    height: 30px;
    margin: 10px;
}


